html, body, #root {
  margin: 0;
  padding:0;
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background: url('./assets/img/backDrop.mp4');
  background-size: cover;
  background-position: center;
  scrollbar-gutter: stable;
}


.orangeElement {
  background-color: #FF7A23;
  color: white;
  border: none;
}

.orangeButton {
  background-color: #FF7A22;
  color: white;
  border: none;
}

.orangeButton:hover {
  background-color: #FF944D;
  cursor: pointer;
}